{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": ["react"]
}
{
  "extends": [
    "eslint:recommended",
    "plugin:ember/recommended",
    "plugin:ember-best-practices/recommended"
  ],
  "plugins": ["ember", "ember-best-practices"]
}
{
  "extends": [
    "eslint:recommended",
    "plugin:vue/recommended",
  ],
  "plugins": ["vue"]
}
